body {
    overflow-x: hidden;
    font-family: 'IM Fell English', serif;
    transition: all 0.2s;
}
*{
    z-index: 10;
}
.kep{
    height: 100%;
    width: 100%;
    border-radius: 2%;
    animation: slideInRight 0.5s;
    transform: scale(100%);
    transition: all 0.5s;
}
.kep:hover{
    transform: scale(101%);
}
.logo{
    position: fixed;
    top: 3%;
    right: 3%;
    height: 12%;
}
p{
    text-align: center;
    text-indent: 2%;
    transform: scale(100%);
    transition: all 0.2s;
}
p:hover{
    transform: scale(101%);
    text-shadow: 0.3px 0.3px 1px whitesmoke;
}
#dots{
    text-indent: 0px;
    font-size: xx-large;
    font-weight: bold;
}
.hiddenText #hidden{
    display: none;
}
.mb-4{
    animation: slideInLeft 0.5s;
}
h1,h2{
    text-shadow: 2px 2px 4px #000;
    z-index: 10;
}


@keyframes slideIn {
    from {
        transform: translateY(50%);
        opacity: 0.1;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(50%);
        opacity: 0.1;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInLeft {
    from {
        transform: translateX(-50%);
        opacity: 0.1;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slideIn 0.5s;
}

@media screen and (max-width: 920px) {
    p{
        text-align: justify;
    }
    .logo{
        position: relative;
        display: block;
        margin: auto;
        height: 20vh;
    }
}